<div class="row">
  <div class="col-sm-8 load_comment1">
    <%= link_to user do %>
      <div class="col-sm-2"> 
        <%= image_tag user.gravatar_url, class: "img-responsive img-circle" %>
      </div>
      <div class="col-sm-2"> 
        <%= user.name %>
        </div>
    <% end %>
      <%= link_to t("blogs.blog.delete"), user, method: :delete,
        data: {confirm: t("blogs.blog.you_sure")}, class: "btn btn-danger pull-right" %>
  </div>
  </br>
</div>
