<%= link_to image_tag(current_user.gravatar_url), current_user %>
<h1><%= current_user.name %></h1>
<section class="stats">
  <%= render "shared/stats" %>
</section>
<span><%= pluralize current_user.blogs.count, "blog" %></span>
